<mat-card>
    <h1>Add New Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-8 offset-md-2">
                        <form (ngSubmit)="categorySubmit()">
                            <!-- user Name -->
                            <mat-form-field class="form-control" appearance="outline">
                                <mat-label>Title</mat-label>
                                <input name="title" [(ngModel)]="category.title" matInput placeholder="Enter Here">
                            </mat-form-field>
                            <!-- user password -->
                            <mat-form-field class="form-control" appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea name="description" [(ngModel)]="category.description" rows="15" matInput placeholder="Enter Category Description"></textarea>
                            </mat-form-field>
                        
                            <div class="container text-center">
                                <button type="submit" mat-raised-button color="primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>