<mat-toolbar color="primary">
  <a a [routerLink]="['/']" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Exam</span>
  <span class="example-spacer"></span>
  <a *ngIf="!isLoggedIn" [routerLink]="['/login']" routerLinkActive="router-link-active" mat-icon-button
    class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <!-- <mat-icon>login</mat-icon> -->
    login
  </a>
  <a *ngIf="!isLoggedIn" [routerLink]="['/signUp']" mat-icon-button class="example-icon favorite-icon ml-20"
    aria-label="Example icon-button with heart icon">
    <!-- <mat-icon>login</mat-icon> -->
    Registr
  </a>
  

  <a
  *ngIf="isLoggedIn && user" [routerLink]="['/admin/profile']" mat-icon-button
   class="example-icon favorite-icon mr-50" aria-label="Example icon-button with heart icon">
   <!-- <mat-icon>login</mat-icon> -->
   {{user.username}}
 </a>
 <a (click)="logOut()"
   *ngIf="isLoggedIn" mat-icon-button
    class="example-icon favorite-icon ml-20" aria-label="Example icon-button with heart icon">
    <!-- <mat-icon>login</mat-icon> -->
    log Out
  </a>
  
</mat-toolbar>