.example-spacer {
    flex: 1 1 auto;
  }

  .ml-20{
    margin-left: 20px;
}
.mr-20{
    margin-right: 20px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{margin-bottom: 20px;}

.mr-50{
    margin-right: 150px;
}